/* Estilo de reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}


body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;;
    overflow: hidden;
    margin: auto;
}

.titulo{
    color:#642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

header{
    width: 100%;
    height: 600px;
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, hsla(324, 100%, 50%, 0.40)),Url("../img/wonderfullwomen.jpg");  
    background: linear-gradient(to right, #493240, hsla(324, 100%, 50%, 0.40)),Url("../img/wonderfullwomen.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0;

}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{   
    text-decoration: underline;   
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.textos-header h1{ 

    font-size: 50px;
    color: #FFF;

}

.textos-header h2{ 
    font-size: 30PX;
    font-weight: 300;
    color: #FFF;
}
 .imagen-sobrenosotros{
    width: 50vw !important;    
 }
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly !important;  

}
.contenedor-sobre-nosotros .contenedor-textox{
    width: 50vw;
}

.contenedor-textox h3{
    margin-bottom: 15px;
}
.contenedor-textox h3 span{
    margin-bottom: 15px;
    background: #642a73;
    color: #FFF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
}
.contenedor-textox p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0,5);

}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
   transform: scale(0);
    background:  hsla(288, 46%, 31%, 0.521);
    transition:transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.hover-galeria p{
    color: #FFF;
}

.imagen-port:hover .hover-galeria  {
    transform: scale(1);
}